.box1 {
    float: left;
    background-color: rgb(47, 255, 158);
    width: 97%;
    height: 160px;
    margin: 5px;
    padding: 4px;
    border: 2px solid rgb(47, 255, 158); 
    text-align: justify;
}
.box2 {
    float: left;
    background-color: yellow;
    width: 15%;
    height: 190px;
    margin: 5px;
    padding: 4px;
    border: 2px solid yellow; 
    text-align: justify;
}
.box3 {
    float: left;
    background-color: red;
    width: 81%;
    height: 190px;
    margin: 5px;
    padding: 4px;
    border: 2px solid red; 
    text-align: justify;
}
.box4 {
    float: left;
    background-color: yellow;
    width: 15%;
    height: 210px;
    margin: 5px;
    padding: 4px;
    border: 2px solid yellow; 
    text-align: justify;
}
.box5 {
    float: left;
    background-color: rgb(0, 166, 255);
    width: 81%;
    height: 210px;
    margin: 5px;
    padding: 4px;
    border: 2px solid rgb(0, 166, 255); 
    text-align: justify;
} 